@font-face {
    font-family: 'pelak-Regular';
    font-weight: 400;
    src: url('../fonts/woff/PelakFA-Regular.woff') format('woff');
}

@font-face {
    font-family: 'pelak-Medium';
    font-weight: 500;
    src: url('../fonts/woff/PelakFA-Medium.woff') format('woff');
}

@font-face {
    font-family: 'pelak-semiBold';
    font-weight: 600;
    src: url('../fonts/woff/PelakFA-SemiBold.woff') format('woff');
}

@font-face {
    font-family: 'pelak-Bold';
    font-weight: 700;
    src: url('../fonts/woff/PelakFA-Bold.woff') format('woff');
}

@font-face {
    font-family: 'pelak-ExtraBold';
    font-weight: 800;
    src: url('../fonts/woff/PelakFA-ExtraBold.woff') format('woff');
}

@font-face {
    font-family: 'pelak-Black';
    font-weight: 900;
    src: url('../fonts/woff/PelakFA-Black.woff') format('woff');
}

body {
    font-family: 'pelak-Regular';
    overflow-x: hidden;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.fw-Medium {
    font-family: 'pelak-Medium' !important;
    font-weight: 500;
}

.fw-semiBold {
    font-family: 'pelak-semiBold' !important;
    font-weight: 600;
}

.fw-bold {
    font-family: 'pelak-Bold';
    font-weight: 700;
}

.fw-black {
    font-family: 'pelak-Black';
    font-weight: 900;
}

/* cursor */

.cursor-pointer{
    cursor: pointer;
}

/* font size */
.fs-8 {
    font-size: 8px;
}

.fs-10 {
    font-size: 10px;
}

.fs-12 {
    font-size: 12px;
}

.fs-13 {
    font-size: 13px;
}

.fs-14 {
    font-size: 14px;
}

.fs-15 {
    font-size: 15px;
}

.fs-18 {
    font-size: 18px;
}

.fs-20 {
    font-size: 20px;
}

.fs-22 {
    font-size: 22px;
}

.fs-24 {
    font-size: 24px;
}

.fs-28 {
    font-size: 28px;
}

.fs-32 {
    font-size: 32px;
}

.fs-54 {
    font-size: 54px;
}

/* z index */

.z-2{
    z-index: 2;
}

/* text color */

.text-green {
    color: #13BD03;
}

.text-red{
    color: #E20000;
}

.text-darkblue{
    color: #051030;
}

.text-gray-60{
    color: #292D3299;
}

.text-brown{
    color: #C39A6D;
}

/* background color */

.bg-green {
    background-color: #13BD03;
}

.bg-green-2{
    background-color: #DDFFDA;
}

.bg-sky{
    background-color: #F2F5FF;
}

.bg-sky-2{
    background-color: #F1F5FF;
}

.bg-gray{
    background-color: #E5E5E5;
}

.bg-gray-2{
    background-color: #F8F8F8;
}

.bg-darkblue{
    background-color: #051030;
}

.bg-white-10{
    background-color: #FFFFFF1A;
}

.bg-white-16{
    background-color: #FFFFFF29;
}

/* width */

.w-5 {
    width: 5px;
}

.w-18 {
    width: 18px;
}

.w-33{
    width: 33px;
}

.w-47 {
    width: 47px;
}

.w-51{
    width: 51px;
}

.w-53 {
    width: 53px;
}

.w-114 {
    width: 114px;
}

.w-134 {
    width: 134px;
}

.w-142 {
    width: 142px;
}

.w-180 {
    width: 180px;
}

.w-220 {
    width: 220px;
}

.w-252 {
    width: 252px;
}

/* height */

.h-5 {
    height: 5px;
}

.h-6{
    height: 6px;
}

.h-15 {
    height: 15px;
}

.h-18 {
    height: 18px;
}

.h-24 {
    height: 24px;
}

.h-27 {
    height: 27px;
}

.h-30 {
    height: 30px;
}

.h-33{
    height: 33px;
}

.h-35 {
   height: 35px;
}

.h-40 {
    height: 40px;
}

.h-46 {
    height: 46px;
}

.h-47 {
    height: 47px;
}

.h-51{
    height: 51px;
}

.h-192 {
    height: 192px;
}

.h-388 {
    height: 388px;
}

.h-506 {
    height: 506px;
}

/* margin */

.mb-6 {
    margin-bottom: 6px;
}

.mb-7 {
    margin-bottom: 7px;
}

.mt-8 {
    margin-top: 8px;
}

.mt-10 {
    margin-top: 10px;
}

.mt-11{
    margin-top: 11px;
}

.mb-11{
    margin-bottom: 11px;
}

.mb-12{
    margin-bottom: 12px;
}

.mb-13{
    margin-bottom: 13px;
}

.mt-13 {
    margin-top: 13px;
}

.mt-14 {
    margin-top: 14px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mb-18 {
    margin-bottom: 18px;
}

.mt-20 {
    margin-top: 20px;
}

.mb-20 {
    margin-bottom: 20px;
}

.m-21{
    margin: 21px;
}

.mt-22{
    margin-top: 22px;
}

.mb-22 {
    margin-bottom: 22px;
}

.mt-24 {
    margin-top: 24px;
}

.mb-26 {
    margin-bottom: 26px;
}

.mb-28 {
    margin-bottom: 28px;
}

.mt-28 {
    margin-top: 28px;
}

.mt-35 {
    margin-top: 35px;
}

.-mb-37 {
    margin-bottom: -37px;
}

.mt-40 {
    margin-top: 40px;
}

.mt-43 {
    margin-top: 43px;
}

.mx-44{
    margin-right: 44px;
    margin-left: 44px;
}

.mt-47 {
    margin-top: 47px;
}

.mt-54 {
    margin-top: 54px;
}

.mt-58 {
    margin-top: 58px;
}

.mt-60 {
    margin-top: 60px;
}

.-mt-63 {
    margin-top: -63px;
}

.ml-71{
    margin-left: 71px;
}

.mt-85 {
    margin-top: 85px;
}

.mt-90 {
    margin-top: 90px;
}

/* padding */

.py-5px{
    padding-top: 5px;
    padding-bottom: 5px;
}

.px-6{
    padding-left: 6px;
    padding-right: 6px;
}

.p-8{
    padding: 8px;
}

.px-8{
    padding-left: 8px;
    padding-right: 8px;
}

.p-12 {
    padding: 12px;
}

.py-12{
    padding-top: 12px;
    padding-bottom: 12px;
}

.py-13{
    padding-top: 13px;
    padding-bottom: 13px;
}

.px-14{
    padding-left: 14px;
    padding-right: 14px;
}

.px-18{
    padding-left: 18px;
    padding-right: 18px;
}

.py-20{
    padding-top: 20px;
    padding-bottom: 20px;
}

.pb-20{
    padding-bottom: 20px;
}

.pt-40{
    padding-top: 40px;
}

.pt-61{
    padding-top: 61px;
}

.pb-119{
    padding-bottom: 119px;
}

/* top */

.-top-9 {
    top: -9px;
}

.top-15{
    top: 15px;
}

.-top-80 {
    top: -80px;
}

/* left */

.left-14{
    left: 14px !important;
}

.-left-24{
    left: -24px !important;
}

/* right */

.right-auto{
    right: auto !important;
}

.right-6{
    right: 6px;
}

/* object fit */

.object-cover{
    object-fit: cover;
}

/* border radius */

.rounded-10 {
    border-radius: 10px;
}

.rounded-20 {
    border-radius: 20px;
}

.rounded-30 {
    border-radius: 30px;
}

/* border */

.border-gray{
    border: 1px solid #F0F0F0;
}
.border-gray-2{
    border: 1px solid #F8F8F8;
}
.border-b-gray-2{
    border-bottom: 1px solid #F8F8F8;
}
.border-brown{
    border: 1px solid #C39A6D;
}

/* text align */

.text-justify{
    text-align: justify;
}

/* gap */

.gap-5{
    gap: 5px;
}

.gap-6{
    gap: 6px;
}

.gap-10{
    gap: 10px;
}

.gap-12{
    gap: 12px;
}

.gap-22{
    gap: 22px;
}

.gap-32{
    gap: 32px;
}

.gap-38{
    gap: 38px;
}

.gap-50{
    gap: 50px;
}

/* overlay */

.overlay-1,.overlay-2{
    position: relative;
}

.overlay-1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: linear-gradient(180deg, rgba(5, 16, 48, 0) 0%, #010613 100%);
    border-radius: 20px;
}

.overlay-2::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background: linear-gradient(180deg, rgba(5, 16, 48, 0) 42.25%, #051030 100%);
    border-radius: 10px;
}

/* line clamp */

.line-clamp-2{
        overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

/* tab */

.tab{
    position: relative;
    transition: all .4s;
    border-bottom: 1px solid transparent;
}

.tab:hover,.tab.active{
    background: linear-gradient(180deg, rgba(206, 219, 255, 0) 0%, rgba(206, 219, 255, 0.38) 100%);
    border-bottom: 1px solid #051030;
    font-weight: 600;
    color: #051030;
}

/* accordion */

.accordionContent,.accordionContent2{
    transition: all .4s;
    max-height: 0;
    overflow: hidden;
}
.accordionContent.active,.accordionContent2.active{
    max-height: 2000px;
}

.accordionBtn img.me-auto,.accordionBtn2 > div img,.accordionBtn2 > div svg{
    transition: all .4s;
}
.accordionBtn2 > div img,.accordionBtn2.active > div svg{
    opacity: 0;
    visibility: hidden;
}
.accordionBtn2.active > div img,.accordionBtn2 > div svg{
    opacity: 100%;
    visibility: visible;
}
.accordionBtn.active img.me-auto{
    transform: rotate(180deg);
}

/* hover */

.textHover1,.textHover1 svg path,.btnHover1,.btnHover1 svg path{
    transition: all .4s;
}

.textHover1:hover{
    color: #13BD03 !important;
}

.textHover1:hover svg path{
    stroke: #13BD03 !important;
}

.btnHover1:hover{
    background-color: #13BD03 !important;
    color: white !important;
}
.btnHover1:hover svg path{
    stroke: white !important;
}

/* swiper */

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: #FFFFFF80;
  opacity: 100% !important;
  transition: all .4s;
  margin: 17px 0 !important;
}

.swiper-pagination-bullet-active{
    background-color: white;
    position: relative;
}
.swiper-pagination-bullet-active::after{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 1px solid white;
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    right: -5.8px;
  top: -1px;
}

/* overlay */

#overlay{
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.267);
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
    z-index: 20;
    cursor: pointer;
}
#overlay.active{
    opacity: 100%;
    visibility: visible;
}

/* header */

header nav ul li a{
    position: relative;
    color: #1E1E1E;
}

header nav ul li a::after{
    content: '';
    margin: auto;
    left: 0;
    right: 0;
    bottom: -40px;
    position: absolute;
    border-radius: 10px;
    width: 21px;
    height: 3px;
    background-color: #C39A6D;
    transition: all .4s;
    opacity: 0;
    visibility: hidden;
}
header nav ul li a.active,header nav ul li a:hover{
   color: #1E1E1E;
   font-weight: bold;
}

header nav ul li a.active::after,header nav ul li a:hover::after{
    bottom: -10px;
    opacity: 100%;
    visibility: visible;
}

#mobileMenu{
    position: fixed;
    top: 0;
    bottom: 0;
    right: -400px;
    width: 260px;
    z-index: 90;
    transition: all .4s;
}
#mobileMenu.active{
    right: 0px;
}

#mobileMenu ul li a{
    transition: all .4s;
}

#mobileMenu ul li a.active,#mobileMenu ul li a:hover{
    color: #13BD03;
}


@media only screen and (max-width:1200px) {
  .mt-xl-00{
    margin-top: 0;
  }
  .pt-xl-20{
    padding-top: 20px;
  }
    .pb-xl-20{
    padding-bottom: 20px;
  }
  .text-xl-dark{
    color: #1E1E1E !important;
  }
  .stroke-xl-dark{
    stroke: #1E1E1E;
  }
  .bg-xl-darkblue{
    background-color: #051030;
  }
  .w-xl-100{
    width: 100%;
  }
  .fs-xl-12{
    font-size: 12px;
  }
  .gap-xl-18{
    gap: 18px;
  }
}

@media only screen and (max-width:576px) {
    .fs-sm-8{
        font-size: 8px;
    }
       .fs-sm-10{
        font-size: 10px;
    }
        .fs-sm-12{
        font-size: 12px;
    }
          .fs-sm-14{
        font-size: 14px;
    }
    .fs-sm-16{
        font-size: 16px;
    }
      .fs-sm-18{
        font-size: 18px;
    }
         .fs-sm-28{
        font-size: 28px;
    }
       .fs-sm-40{
        font-size: 40px;
    }
    .ml-sm-0{
        margin-left: 0;
    }
    .mt-sm-00{
        margin-top: 0px;
    }
      .mt-sm-16{
        margin-top: 16px;
    }
    .h-sm-240{
        height: 240px;
    }
    .px-sm-44{
        padding-left: 4px;
        padding-right: 4px;
    }
}